<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
<div class="container ">
    
    
    <a class="nav-link navbar-brand " href=<%= categories_path %> ><i class="fa-solid fa-arrow-left fa-xl"></i></i></a>
    <div class="main-font">Add category</div>
    
    <button class="navbar-toggler navbar-dark " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, 'data-turbo-method': :delete%>
            </li>
        </ul>
    </div>
</div>
</nav>
  
<%= form_with(model: @category ) do |form| %>
  <% if @category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline">
  <%= form.text_field :name , placeholder:"Category name",class:"form-control item"%>
  </div>


  <div>
    <%= form.text_field :icon, placeholder: "Icon URL",class:"form-control item" %>
  </div>

  <div>
    <%= form.submit "Add" ,class:"item" %>
  </div>
<% end %>
